@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

  *{
    scroll-behavior: smooth !important;
  }



  h1,h2,h3,h4,h5,h6{ @apply font-bold }
  h1{ @apply text-4xl }
  h2{ @apply text-3xl }
  h3{ @apply text-2xl }
  h4{ @apply text-xl }
  h5{ @apply text-lg }
  h6{ @apply text-base }
  p{ @apply text-base }
  a{ @apply text-white }
}

@layer components {
  
  .container{ @apply px-4 }

  table,tr,td,th{
    @apply border border-white/50 py-2 px-3;
  }


  /* swiper */
  .portfolio-slider > .swiper-wrapper {
    transition-timing-function : linear;
  }

  .testimonial-slider > .swiper-pagination > .swiper-pagination-bullet{
    @apply w-3 h-3 bg-indigo-500 rounded-full;
  }

  .navbar{
    background: linear-gradient(269.99deg, #000B1C 0%, #01084D 99.98%);
  }

  

  .scroll::-webkit-scrollbar{
    width: 3px
  }

  /* navbar hamburger menu */
  .hamburger{
    @apply text-white text-2xl cursor-pointer;
  }

  .hamburger__line{
    @apply block w-5 h-0.5 mb-1 bg-current rounded;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.hamburger--active > .hamburger__line--1{
    @apply transform -rotate-45 translate-y-1.5;
  }

  .hamburger.hamburger--active > .hamburger__line--2{
    @apply opacity-0;
  }

  .hamburger.hamburger--active > .hamburger__line--3{
    @apply transform rotate-45 -translate-y-1.5;
  }

  /*
  ** Ellipse 
  */
  .ellipse1{
    @apply hidden md:block absolute w-[1198px] h-[1198px] -left-[100px] md:-left-[402px] -top-[600px] md:-top-[129px] z-[-1] pointer-events-none opacity-50 blur-[15px] rotate-[-15deg];
    background: radial-gradient(93.71% 93.71% at 10.49% -7.69%, #0500FF 0%, rgba(2, 0, 83, 0) 100%);
  }

  .ellipse2{
    @apply hidden md:block absolute w-[1198px] h-[1198px] -right-[600px] md:-right-[402px] top-[600px] md:top-[594px] pointer-events-none opacity-50 blur-[400px];
    background: radial-gradient(93.71% 93.71% at 10.49% -7.69%, #0500FF 0%, rgba(2, 0, 83, 0) 100%) ;
    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
  }

  .shadow-effect{
    background: radial-gradient(93.71% 93.71% at 10.49% -7.69%, rgba(5, 0, 255, 0.5) 0%, rgba(2, 0, 83, 0) 100%);
  }

} 


html, body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden !important;
  color: rgb(255,255,255);
  background-color: #000B1C;
  scroll-behavior: smooth;
}




